--- 
layout: default
---

<div class="main-container">
  
  <section class="cover imagebg text-center image--light height-50">
    <div class="background-image-holder">
      <img alt="background" src="{{ 'assets/img/cc-background-r.png' | prepend:site.baseurl }}" />
    </div>
    <div class="container pos-vertical-center">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="animated fadeIn">
            <h1>{{ page.title }}</h1>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="triptych border--round">
            <img alt="Image" src="{{ 'assets/img/cc-about-01.jpg' | prepend:site.baseurl }}">
            <img alt="Image" src="{{ 'assets/img/cc-about-02.jpg' | prepend:site.baseurl }}">
            <img alt="Image" src="{{ 'assets/img/cc-about-03.jpg' | prepend:site.baseurl }}">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="text-center">
    <div class="container">
      <div class="row text-center">
        <div class="col-sm-4">
          <div class="feature">
            <h4>Color Cntrl</h4>
            <p style="max-width: 100%;">Color cntrl is the technology development company which has patented its unique Color cntrl Electro Fusion® system.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature">
            <h4>The Electro Fusion® technology</h4>
            <p style="max-width: 100%;">The Electro Fusion® technology creates dynamic colors using electronically controlled Nano-particle ink.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="feature">
            <h4>Ultra Low Power</h4>
            <p style="max-width: 100%;">Operating at ultra low power, Color cntrl Electro Fusion® is the revolutionary electronic system which creates an optimal light climate and bright colored reflective displays.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>