---
layout: default
---

<div class="main-container">
	<section class="cover imagebg text-center image--light height-20">
    <div class="background-image-holder">
      <img alt="background" src="{{ 'assets/img/cc-background-r.png' | prepend:site.baseurl }}" />
    </div>
    <div class="container pos-vertical-center">
      <div class="row">
        <div class="col-sm-12">
          <div class="animated fadeIn">
            <h1>{{ page.title }}</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
				<p>Color cntrl is the technology development company which has patented its unique Electro Fusion® system.</p>
        <p>The Electro Fusion® technology creates dynamic colors using electronically controlled Nano-particle ink.</p>
        <p>Operating at ultra low power, Electro Fusion® is the revolutionary electronic system to create optimal light climate and bright colored reflective displays.</p>

      </div>
    </div>
  </div>
</div>