---
layout: default
---

<div class="main-container">

  <section class="cover imagebg text-center image--light height-50">
    <div class="background-image-holder">
      <img alt="background" src="{{ 'assets/img/cc-background-r.png' | prepend:site.baseurl }}" />
    </div>
    <div class="container pos-vertical-center">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="animated fadeIn">
            <h1>{{ page.title }}</h1>
            <p class="lead">Color cntrl issues licenses for the application of its unique patented technology to the industry and manufactures the Nano-particle ink.</p>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="triptych border--round">
            <img alt="Image" src="{{ 'assets/img/cc-about-06.jpg' | prepend:site.baseurl }}">
            <img alt="Image" src="{{ 'assets/img/cc-about-05.jpg' | prepend:site.baseurl }}">
            <img alt="Image" src="{{ 'assets/img/cc-about-04.jpg' | prepend:site.baseurl }}">
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="text-center bg--tertiary">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="feature">
            <img alt="Image" src="{{ 'assets/img/cc-f-01.png' | prepend:site.baseurl }}" style="max-width: 120px;">
            <h4>Ultra Low Power</h4>
            <p>One battery charge allows weeks of reading pleasure</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="feature">
            <img alt="Image" src="{{ 'assets/img/cc-f-02.png' | prepend:site.baseurl }}" style="max-width: 120px;">
            <h4>Full color</h4>
            <p>High Quality Advertising lives again next to content</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="feature">
            <img alt="Image" src="{{ 'assets/img/cc-f-03.png' | prepend:site.baseurl }}" style="max-width: 120px;">
            <h4>> 1:22 Contrast</h4>
            <p>Crisp black & white content presentation</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="feature">
            <img alt="Image" src="{{ 'assets/img/cc-f-04.png' | prepend:site.baseurl }}" style="max-width: 120px;">
            <h4>Transparent / reflective</h4>
            <p>Our technology is transparent and reflective</p>
          </div>
        </div>        
      </div>
    </div>
  </section>
</div>