---
layout: default
---

<div class="main-container">
	<section class="cover imagebg text-center image--light height-20">
    <div class="background-image-holder">
      <img alt="background" src="{{ 'assets/img/cc-background.png' | prepend:site.baseurl }}" />
    </div>
    <div class="container pos-vertical-center">
      <div class="row">
        <div class="col-sm-12">
          <div class="animated fadeIn">
            <h1>Technology</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

