---
layout: default
---

<div class="main-container">

  <section class="cover imagebg text-center image--light height-20">
    <div class="background-image-holder">
      <img alt="background" src="{{ 'assets/img/cc-background-r.png' | prepend:site.baseurl }}" />
    </div>
    <div class="container pos-vertical-center">
      <div class="row">
        <div class="col-sm-12">
          <div class="animated fadeIn">
            <h1>Technology</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="text-center">
    <div class="tabs-container" data-content-align="left">
      <ul class="tabs tabs--spaced">

        <li class="active">
          <div class="tab__title text-center">
            <span class="h5">General</span>
          </div>
          <div class="tab__content">
            <div class="container">
              
              <div class="row">    
                <div class="col-sm-12 text-center">
                  <h2 class="reset-margin-b">The art of color making</h2>
                  <p class="lead">is in the arrangement of color particles</p>
                </div>
              </div>

              <div class="row">    
                <div class="col-sm-6">
                  <div class="text-center" style="margin-bottom: 2rem;">
                    <img alt="Image" src="{{ 'assets/img/cc-art-01.png' | prepend:site.baseurl }}">
                    <p>A painter mixes manually, color particles next to <br/>each other in one layer on his pallet.</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="text-center" style="margin-bottom: 2rem;">
                    <img alt="Image" src="{{ 'assets/img/cc-art-02.png' | prepend:site.baseurl }}">
                    <p>Color CNTRL technology arranges color particles though 3 transparent layers of Yellow, Magenta and Cyan. <br/>16 shades x 3 render 4096 different colors.</p>
                  </div>
                </div>
              </div>
              <div class="row">    
                <div class="col-sm-6">
                  <div class="text-center" style="margin-bottom: 2rem;">
                    <img alt="Image" src="{{ 'assets/img/cc-art-03.png' | prepend:site.baseurl }}">
                    <p>Three color layers with per pixel saturation control</p>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="text-center" style="margin-bottom: 2rem;">
                    <img alt="Image" src="{{ 'assets/img/cc-art-04.png' | prepend:site.baseurl }}">
                    <p>Transparent Reflection</p>
                  </div>
                </div>        
              </div>
              
            </div>
          </div>
        </li>

        <li>
          <div class="tab__title text-center">
            <span class="h5">Reflective</span>
          </div>
          <div class="tab__content">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 text-center">
                  <h2 class="reset-margin-b">Reflective</h2>
                  <p class="lead">as vibrant as quality print</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 text-center">
                  <img alt="Image" src="{{ 'assets/img/cc-r-01.png' | prepend:site.baseurl }}" style="max-width: 400px;">
                  <p>Corporis eu diamlorem, adipisci adipisci adipisci rem donec auctor maxime adipisicing vivamus alias ut sapien! Impedit reprehenderit non.</p>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="tab__title text-center">
            <span class="h5">Transparent</span>
          </div>
          <div class="tab__content">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 text-center">
                  <h2 class="reset-margin-b">Transparent</h2>
                  <p class="lead">...</p>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 text-center">
                  <img alt="Image" src="{{ 'assets/img/cc-r-01.png' | prepend:site.baseurl }}" style="max-width: 400px;">
                  <p>Corporis eu diamlorem, adipisci adipisci adipisci rem donec auctor maxime adipisicing vivamus alias ut sapien! Impedit reprehenderit non.</p>
                </div>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </section>


  <section class="text-center bg--tertiary">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h2>Benefits</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="feature">
            <img alt="Image" src="{{ 'assets/img/cc-f-01.png' | prepend:site.baseurl }}" style="max-width: 120px;">
            <h4>Ultra Low Power</h4>
            <p>One battery charge allows weeks of reading pleasure</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="feature">
            <img alt="Image" src="{{ 'assets/img/cc-f-02.png' | prepend:site.baseurl }}" style="max-width: 120px;">
            <h4>Full color</h4>
            <p>High Quality Advertising lives again next to content</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="feature">
            <img alt="Image" src="{{ 'assets/img/cc-f-03.png' | prepend:site.baseurl }}" style="max-width: 120px;">
            <h4>> 1:22 Contrast</h4>
            <p>Crisp black & white content presentation</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="feature">
            <img alt="Image" src="{{ 'assets/img/cc-f-04.png' | prepend:site.baseurl }}" style="max-width: 120px;">
            <h4>Transparent / reflective</h4>
            <p>Our technology is transparent and reflective</p>
          </div>
        </div>        
      </div>
    </div>
  </section>

</div>