--- 
layout: default
---

<div class="main-container">

  <section class="cover imagebg text-center image--light custom-header-title">
    <div class="background-image-holder">
      <img alt="background" src="{{ 'assets/img/cc-background-r.png' | prepend:site.baseurl }}" />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="animated fadeIn">
            <h1>{{ page.title }}</h1>
          </div>
        </div>
      </div>
    </div>Í
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="tabs-container tabs--vertical">
            <ul class="tabs">

              <li class="active">
                <div class="tab__title"> <span class="h5">Electronic Shelf Labels</span> </div>
                <div class="tab__content">
                  <div class="img-shadow">
                    <img alt="background" src="{{ 'assets/img/cc-sheet-slider-01.jpg' | prepend:site.baseurl }}" style="vertical-align: middle; margin: 0;">
                    <div class="slider-text">
                      <h3 class="reset-margin">Will our e-paper technology <br/>become the ESL standard?</h3>
                    </div>
                  </div>

                  <div class="row text-center">
                    <div class="col-sm-4">
                      <div class="feature">
                        <img alt="Image" src="{{ 'assets/img/cc-f-01.png' | prepend:site.baseurl }}" style="max-width: 120px;">
                        <h4>Ultra Low Power</h4>
                        <p style="max-width: 100%;">One battery charge allows weeks of reading pleasure</p>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="feature">
                        <img alt="Image" src="{{ 'assets/img/cc-f-03.png' | prepend:site.baseurl }}" style="max-width: 120px;">
                        <h4>&gt; 1:22 Contrast</h4>
                        <p style="max-width: 100%;">Crisp black &amp; white content presentation</p>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="feature">
                        <img alt="Image" src="{{ 'assets/img/cc-f-04.png' | prepend:site.baseurl }}" style="max-width: 120px;">
                        <h4>Transparent / reflective</h4>
                        <p style="max-width: 100%;">Our technology is transparent and reflective</p>
                      </div>
                    </div>        
                  </div>
    
                </div>
              </li>

              <li>
                <div class="tab__title"> <span class="h5">Visual e-identification</span> </div>
                <div class="tab__content">
                  <div class="img-shadow">
                    <img alt="background" src="{{ 'assets/img/cc-sheet-slider-06.jpg' | prepend:site.baseurl }}" style="vertical-align: middle; margin: 0;">
                    <div class="slider-text">
                      <h3 class="reset-margin">Will our e-paper technology be a favorite with its Dynamic Color Coding Capacity?</h3>
                      <p class="lead">The five color identification bar adapts to more than a 1.000 different color code patterns instantly and dynamically, with <span class="blue">color cntrl®</span> <span class="magenta">technology</span></p>
                    </div>
                  </div>
                  <div class="row text-center">
                    <div class="col-sm-6">
                      <div class="feature">
                        <img alt="Image" src="{{ 'assets/img/cc-f-01.png' | prepend:site.baseurl }}" style="max-width: 120px;">
                        <h4>Ultra Low Power</h4>
                        <p style="max-width: 100%;">One battery charge allows weeks of reading pleasure</p>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="feature">
                        <img alt="Image" src="{{ 'assets/img/cc-f-02.png' | prepend:site.baseurl }}" style="max-width: 120px;">
                        <h4>Full color</h4>
                        <p style="max-width: 100%;">High Quality Advertising lives again next to content</p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="tab__title"> <span class="h5">Magazine reader</span> </div>
                <div class="tab__content">
                  <div class="img-shadow">
                    <img alt="background" src="{{ 'assets/img/cc-sheet-slider-03.jpg' | prepend:site.baseurl }}" style="vertical-align: middle; margin: 0;">
                    <div class="slider-text">
                      <h3 class="reset-margin">Will our e-paper technology revive <br/>the magazine industry?</h3>
                      <p class="lead">Most likely YES! With <span class="blue">color cntrl®</span> <span class="magenta">technology</span></p>
                    </div>
                  </div>
                  <div class="row text-center">
                    <div class="col-sm-6">
                      <div class="feature">
                        <img alt="Image" src="{{ 'assets/img/cc-f-01.png' | prepend:site.baseurl }}" style="max-width: 120px;">
                        <h4>Ultra Low Power</h4>
                        <p style="max-width: 100%;">One battery charge allows weeks of reading pleasure</p>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="feature">
                        <img alt="Image" src="{{ 'assets/img/cc-f-02.png' | prepend:site.baseurl }}" style="max-width: 120px;">
                        <h4>Full color</h4>
                        <p style="max-width: 100%;">High Quality Advertising lives again next to content</p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="tab__title"> <span class="h5">In-store product & price featuring</span> </div>
                <div class="tab__content">
                  <div class="img-shadow">
                    <img alt="background" src="{{ 'assets/img/cc-sheet-slider-05.jpg' | prepend:site.baseurl }}" style="vertical-align: middle; margin: 0;">
                    <div class="slider-text">
                      <h3 class="reset-margin">Will our e-paper technology increase sales with the beauty and clarity of natural light reflection?</h3>
                      <p class="lead">Operating savings per food store of more than $ 50.000 per year with <span class="blue">color cntrl®</span> <span class="magenta">technology</span></p>
                    </div>
                  </div>
                  <div class="row text-center">
                    <div class="col-sm-6">
                      <div class="feature">
                        <img alt="Image" src="{{ 'assets/img/cc-f-01.png' | prepend:site.baseurl }}" style="max-width: 120px;">
                        <h4>Ultra Low Power</h4>
                        <p style="max-width: 100%;">One battery charge allows weeks of reading pleasure</p>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="feature">
                        <img alt="Image" src="{{ 'assets/img/cc-f-02.png' | prepend:site.baseurl }}" style="max-width: 120px;">
                        <h4>Full color</h4>
                        <p style="max-width: 100%;">High Quality Advertising lives again next to content</p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <div class="tab__title"> <span class="h5">E-art</span> </div>
                <div class="tab__content">
                  <div class="img-shadow">
                    <img alt="background" src="{{ 'assets/img/cc-sheet-slider-02.jpg' | prepend:site.baseurl }}" style="vertical-align: middle; margin: 0;">
                    <div class="slider-text">
                      <h3 class="reset-margin">Which masterpiece will our e-paper</br> technology bring into your home?</h3>
                      <p class="lead">Optimal brightness and full refinement from old masters to modern art, with <span class="blue">color cntrl®</span> <span class="magenta">technology</span></p>
                    </div>
                  </div>
                  <div class="row text-center">
                    <div class="col-sm-4">
                      <div class="feature">
                        <img alt="Image" src="{{ 'assets/img/cc-f-01.png' | prepend:site.baseurl }}" style="max-width: 120px;">
                        <h4>Ultra Low Power</h4>
                        <p style="max-width: 100%;">One battery charge allows weeks of reading pleasure</p>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="feature">
                        <img alt="Image" src="{{ 'assets/img/cc-f-02.png' | prepend:site.baseurl }}" style="max-width: 120px;">
                        <h4>Full color</h4>
                        <p style="max-width: 100%;">High Quality Advertising lives again next to content</p>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="feature">
                        <img alt="Image" src="{{ 'assets/img/cc-f-04.png' | prepend:site.baseurl }}" style="max-width: 120px;">
                        <h4>Transparent / reflective</h4>
                        <p style="max-width: 100%;">Our technology is transparent and reflective</p>
                      </div>
                    </div>        
                  </div>
                </div>
              </li>

              <li>
                <div class="tab__title"> <span class="h5">Outdoor advertising</span> </div>
                <div class="tab__content">
                  <div class="img-shadow">
                    <img alt="background" src="{{ 'assets/img/cc-sheet-slider-09.jpg' | prepend:site.baseurl }}" style="vertical-align: middle; margin: 0;">
                    <div class="slider-text">
                      <h3 class="reset-margin">Will our e-paper technology boost outdoor advertising?</h3>
                      <p class="lead">Save $ 1.000 per year on power consumption with <span class="blue">color cntrl®</span> <span class="magenta">technology</span></p>
                    </div>
                  </div>
                  <div class="row text-center">
                    <div class="col-sm-4">
                      <div class="feature">
                        <img alt="Image" src="{{ 'assets/img/cc-f-01.png' | prepend:site.baseurl }}" style="max-width: 120px;">
                        <h4>Ultra Low Power</h4>
                        <p style="max-width: 100%;">One battery charge allows weeks of reading pleasure</p>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="feature">
                        <img alt="Image" src="{{ 'assets/img/cc-f-03.png' | prepend:site.baseurl }}" style="max-width: 120px;">
                        <h4>&gt; 1:22 Contrast</h4>
                        <p style="max-width: 100%;">Crisp black &amp; white content presentation</p>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="feature">
                        <img alt="Image" src="{{ 'assets/img/cc-f-04.png' | prepend:site.baseurl }}" style="max-width: 120px;">
                        <h4>Transparent / reflective</h4>
                        <p style="max-width: 100%;">Our technology is transparent and reflective</p>
                      </div>
                    </div>        
                  </div>
                </div>
              </li>

              <li>
                <div class="tab__title"> <span class="h5">Multi-screen</span> </div>
                <div class="tab__content">
                  <div class="img-shadow">
                    <img alt="background" src="{{ 'assets/img/cc-sheet-slider-04.jpg' | prepend:site.baseurl }}" style="vertical-align: middle; margin: 0;">
                    <div class="slider-text">
                      <h3 class="reset-margin">The best way to avoid tunnel vision</h3>
                      <p class="lead">Easy on the eyes and total overview with <span class="blue">color cntrl®</span> <span class="magenta">technology</span></p>
                    </div>
                  </div>
                  <div class="row text-center">
                    <div class="col-sm-6">
                      <div class="feature">
                        <img alt="Image" src="{{ 'assets/img/cc-f-01.png' | prepend:site.baseurl }}" style="max-width: 120px;">
                        <h4>Ultra Low Power</h4>
                        <p style="max-width: 100%;">One battery charge allows weeks of reading pleasure</p>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="feature">
                        <img alt="Image" src="{{ 'assets/img/cc-f-02.png' | prepend:site.baseurl }}" style="max-width: 120px;">
                        <h4>Full color</h4>
                        <p style="max-width: 100%;">High Quality Advertising lives again next to content</p>
                      </div>
                    </div>
                  </div>
                </div>
              </li>


            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>


<script>
  var elements = document.querySelectorAll('.masonry__item');
  Array.prototype.forEach.call(elements, function (el, i) {
    if (i > 0) {
      el.style.display = 'none';
    }
  });
</script>