--- 
layout: default
---

<div class="main-container">

  <section class="cover imagebg text-center image--light height-20">
    <div class="background-image-holder">
      <img alt="background" src="{{ 'assets/img/cc-background-r.png' | prepend:site.baseurl }}" />
    </div>
    <div class="container pos-vertical-center">
      <div class="row">
        <div class="col-sm-12">
          <div class="animated fadeIn">
            <h1>{{ page.title }}</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="tabs-container tabs--vertical">
            <ul class="tabs">

              <li class="active">
                <div class="tab__title"> <span class="h5">Social Signage</span> </div>
                <div class="tab__content">
                  <div class="img-shadow">
                    <img alt="background" src="{{ 'assets/img/cc-sheet-slider-08.jpg' | prepend:site.baseurl }}" style="vertical-align: middle; margin: 0;">
                    <div class="slider-text">
                      <h3 class="reset-margin">Will our e-paper technology express your current mood?</h3>
                      <p class="lead">Let everyone know how you feel with <span class="blue">color cntrl®</span> <span class="magenta">technology</span></p>
                    </div>
                  </div>
                  <div class="row text-center">
                    <div class="col-sm-4">
                      <div class="feature">
                        <img alt="Image" src="/assets/img/cc-f-01.png" style="max-width: 120px;">
                        <h4>Ultra Low Power</h4>
                        <p style="max-width: 100%;">One battery charge allows weeks of reading pleasure</p>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="feature">
                        <img alt="Image" src="/assets/img/cc-f-02.png" style="max-width: 120px;">
                        <h4>Full color</h4>
                        <p style="max-width: 100%;">High Quality Advertising lives again next to content</p>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="feature">
                        <img alt="Image" src="/assets/img/cc-f-04.png" style="max-width: 120px;">
                        <h4>Transparent / reflective</h4>
                        <p style="max-width: 100%;">Our technology is transparent and reflective</p>
                      </div>
                    </div>        
                  </div>
                </div>
              </li>
              
              <li>
                <div class="tab__title"> <span class="h5">E Jewelry</span> </div>
                <div class="tab__content">
                  <div class="img-shadow">
                    <img alt="background" src="{{ 'assets/img/cc-sheet-slider-07.jpg' | prepend:site.baseurl }}" style="vertical-align: middle; margin: 0;">
                    <div class="slider-text">
                      <h3 class="reset-margin">Let our e-mirror technology customize your jewelry instantly.</h3>
                      <p class="lead">Match your jewelry to any outfit with <span class="blue">color cntrl®</span> <span class="magenta">technology</span></p>
                    </div>
                  </div>

                  <div class="row text-center">
                    <div class="col-sm-4">
                      <div class="feature">
                        <img alt="Image" src="/assets/img/cc-f-01.png" style="max-width: 120px;">
                        <h4>Ultra Low Power</h4>
                        <p style="max-width: 100%;">One battery charge allows weeks of reading pleasure</p>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="feature">
                        <img alt="Image" src="/assets/img/cc-f-02.png" style="max-width: 120px;">
                        <h4>Full color</h4>
                        <p style="max-width: 100%;">High Quality Advertising lives again next to content</p>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="feature">
                        <img alt="Image" src="/assets/img/cc-f-04.png" style="max-width: 120px;">
                        <h4>Transparent / reflective</h4>
                        <p style="max-width: 100%;">Our technology is transparent and reflective</p>
                      </div>
                    </div>        
                  </div>
    
                </div>
              </li>

              


            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>


<script>
  var elements = document.querySelectorAll('.masonry__item');
  Array.prototype.forEach.call(elements, function (el, i) {
    if (i > 0) {
      el.style.display = 'none';
    }
  });
</script>