--- 
layout: default
---

<div class="main-container">
  
  <section class="cover imagebg text-center image--light height-40">
    <div class="background-image-holder">
      <img alt="background" src="{{ 'assets/img/cc-background.png' | prepend:site.baseurl }}" />
    </div>
    <div class="container pos-vertical-center">
      <div class="row">
        <div class="col-sm-12">
          <div class="animated fadeIn">
            <h1>Electronic Controlled Coloring Technology</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="animated fadeIn">
            <img alt="background" src="{{ 'assets/img/cc-colorspec.png' | prepend:site.baseurl }}" />
          </div>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
          <div class="animated fadeIn">
            <p>Color CNTRL technology arranges color particles through 3 transparent layers of Yellow, Magenta and Cyan. 16 shades x 3 render 4096 colors.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="unpad text-center">
    <div class="row--gapless">
      <div class="col-sm-4 col-xs-12">              
        <img alt="background" src="{{ 'assets/img/cc-home-01.jpg' | prepend:site.baseurl }}">
      </div>
      <div class="col-sm-4 col-xs-12">
        <img alt="background" src="{{ 'assets/img/cc-home-02.jpg' | prepend:site.baseurl }}">  
      </div>
      <div class="col-sm-4 col-xs-12">
        <img alt="background" src="{{ 'assets/img/cc-home-03.jpg' | prepend:site.baseurl }}">
      </div>
    </div>
  </section>
  
  <section class="switchable switchable--switch space--sm">
    <div class="container">
      <div class="row">
        <div class="col-sm-7">
          <img alt="Image" src="{{ 'assets/img/cc-v1.png' | prepend:site.baseurl }}" />
        </div>
        <div class="col-sm-5 col-md-4">
          <div class="switchable__text">
            <h3>Full color reflective image screen technology<br></h3>
            <p class="lead">For eye relaxing reading, optimal daylight viewing and long battery life.<br></p>
            <hr class="short">
            <p>Features:<br>- Light (from the environment to CYM layers)<br>- Transparent CYM&nbsp;Layers<br>- Reflection from
              CYM&nbsp;Layers<br>- Eye relaxing image</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="switchable switchable--switch space--sm">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          [[color picker visual]]
        </div>
      </div>
    </div>
  </section>

</div>