--- 
layout: default
---

<div class="main-container">

  <section class="cover imagebg text-center image--light">
    <div class="background-image-holder">
      <img alt="background" src="{{ 'assets/img/cc-background-r.png' | prepend:site.baseurl }}" />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="animated fadeIn">
            <img alt="background" src="{{ 'assets/img/cc-colorspec.png' | prepend:site.baseurl }}" />
            <h1>Electronic Controlled Coloring Technology</h1>
            <p>Color CNTRL technology arranges color particles through 3 transparent layers of Yellow, Magenta and Cyan. 16 shades x 3 renders 4096 colors.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="space--xxs">
    <div class="container">
      <div class="row" style="margin-bottom: 3rem;">
        <div class="slider" data-paging="true">
          <ul class="slides">
            
            <li>
              <img alt="background" src="{{ 'assets/img/cc-sheet-slider-01.jpg' | prepend:site.baseurl }}" style="vertical-align: middle; margin: 0;">
              <div class="slider-text">
                <h3 class="reset-margin">Will our e-paper technology <br/>become the ESL standard?</h3>
                <ul class="lead-listing">
                  <li>Transparent / reflective</li>
                  <li>|</li>
                  <li>> 1:22 Contrast</li>
                  <li>|</li>
                  <li>Ultra Low Power</li>
                </ul>
              </div>
            </li>

            <li>
              <img alt="background" src="{{ 'assets/img/cc-sheet-slider-02.jpg' | prepend:site.baseurl }}" style="vertical-align: middle; margin: 0;">
              <div class="slider-text">
                <h3 class="reset-margin">Which masterpiece will our e-paper <br/>technology bring into your home?</h3>
                <p class="lead">Optimal brightness and full re nement from old masters to modern art, with <span class="blue">color cntrl®</span> <span class="magenta">technology</span></p>
                <ul class="lead-listing">
                  <li>Transparent / reflective</li>
                  <li>|</li>
                  <li>Full color</li>
                  <li>|</li>
                  <li>Ultra Low Power</li>
                </ul>
              </div>
            </li>

            <li>
              <img alt="background" src="{{ 'assets/img/cc-sheet-slider-03.jpg' | prepend:site.baseurl }}" style="vertical-align: middle; margin: 0;">
              <div class="slider-text">
                <h3 class="reset-margin">Will our e-paper technology revive <br/>the magazine industry?</h3>
                <p class="lead">Most likely YES! With <span class="blue">color cntrl®</span> <span class="magenta">technology</span></p>
                <ul class="lead-listing">
                  <li>Transparent / reflective</li>
                  <li>|</li>
                  <li>Full color</li>
                  <li>|</li>
                  <li>Ultra Low Power</li>
                </ul>
              </div>
            </li>

            <li>
              <img alt="background" src="{{ 'assets/img/cc-sheet-slider-04.jpg' | prepend:site.baseurl }}" style="vertical-align: middle; margin: 0;">
              <div class="slider-text">
                <h3 class="reset-margin">The best way to avoid tunnel vision</h3>
                <p class="lead">Easy on the eyes and total overview with <span class="blue">color cntrl®</span> <span class="magenta">technology</span></p>
                <ul class="lead-listing">
                  <li>Full color</li>
                  <li>|</li>
                  <li>Ultra Low Power</li>
                </ul>
              </div>
            </li>

            <li>
              <img alt="background" src="{{ 'assets/img/cc-sheet-slider-05.jpg' | prepend:site.baseurl }}" style="vertical-align: middle; margin: 0;">
              <div class="slider-text">
                <h3 class="reset-margin">Will our e-paper technology increase sales with the beauty and clarity of natural light reflection?</h3>
                <p class="lead">Operating savings per food store of more than $ 50.000 per year with <span class="blue">color cntrl®</span> <span class="magenta">technology</span></p>
                <ul class="lead-listing">
                  <li>Full color</li>
                  <li>|</li>
                  <li>Ultra Low Power</li>
                </ul>
              </div>
            </li>

            <li>
              <img alt="background" src="{{ 'assets/img/cc-sheet-slider-06.jpg' | prepend:site.baseurl }}" style="vertical-align: middle; margin: 0;">
              <div class="slider-text">
                <h3 class="reset-margin">Will our e-paper technology be a favorite with its Dynamic Color Coding Capacity?</h3>
                <p class="lead">The  ve color identi cation bar adapts to more than a 1.000 di erent color code patterns instantly and dynamically, with <span class="blue">color cntrl®</span> <span class="magenta">technology</span></p>
                <ul class="lead-listing">
                  <li>Full color</li>
                  <li>|</li>
                  <li>Ultra Low Power</li>
                </ul>
              </div>
            </li>

            <li>
              <img alt="background" src="{{ 'assets/img/cc-sheet-slider-07.jpg' | prepend:site.baseurl }}" style="vertical-align: middle; margin: 0;">
              <div class="slider-text">
                <h3 class="reset-margin">Let our e-mirror technology customize your jewelry instantly.</h3>
                <p class="lead">Match your jewelry to any outfit with <span class="blue">color cntrl®</span> <span class="magenta">technology</span></p>
                <ul class="lead-listing">
                  <li>Transparent / reflective</li>
                  <li>|</li>
                  <li>Full color</li>
                  <li>|</li>
                  <li>Ultra Low Power</li>
                </ul>
              </div>
            </li>

            <li>
              <img alt="background" src="{{ 'assets/img/cc-sheet-slider-08.jpg' | prepend:site.baseurl }}" style="vertical-align: middle; margin: 0;">
              <div class="slider-text">
                <h3 class="reset-margin">Will our e-paper technology express your current mood?</h3>
                <p class="lead">Let everyone know how you feel with <span class="blue">color cntrl®</span> <span class="magenta">technology</span></p>
                <ul class="lead-listing">
                  <li>Transparent / reflective</li>
                  <li>|</li>
                  <li>Full color</li>
                  <li>|</li>
                  <li>Ultra Low Power</li>
                </ul>
              </div>
            </li>

            <li>
              <img alt="background" src="{{ 'assets/img/cc-sheet-slider-09.jpg' | prepend:site.baseurl }}" style="vertical-align: middle; margin: 0;">
              <div class="slider-text">
                <h3 class="reset-margin">Will our e-paper technology boost outdoor advertising?</h3>
                <p class="lead">Save $ 1.000 per year on power consumption with <span class="blue">color cntrl®</span> <span class="magenta">technology</span></p>
                <ul class="lead-listing">
                  <li>Transparent / reflective</li>
                  <li>|</li>
                  <li>Full color</li>
                  <li>|</li>
                  <li>Ultra Low Power</li>
                </ul>
              </div>
            </li>

            
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <p class="lead" style="margin-bottom: .250rem;">For detailed information:</p>
          <a href="#" class="btn">Read more</a>
        </div>
      </div>
    </div>
  </section>

</div>