---
layout: default
---

<div class="main-container">
	<section class="cover imagebg text-center image--light height-20">
    <div class="background-image-holder">
      <img alt="background" src="{{ 'assets/img/cc-background-r.png' | prepend:site.baseurl }}" />
    </div>
    <div class="container pos-vertical-center">
      <div class="row">
        <div class="col-sm-12">
          <div class="animated fadeIn">
            <h1>{{ page.title }}</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

        <div class="space-md">

        <p style="text-align: justify;">This Privacy- and Cookie policy ("<strong>Privacy- and Cookie Policy</strong>") is used by Color Cntrl Groep B.V., Color Cntrl Products B.V., Color Cntrl Research B.V. en Color Cntrl Licensing B.V. (hereinafter together referred to as "<strong>Color Cntrl</strong>"), having their registered offices in The Netherlands. Color Cntrl hereby informs you of the way Color Cntrl uses cookies and processes your personal data acquired by the website accessible through (the "<strong>Website</strong>").</p>
        <p style="text-align: justify;"><span style="text-decoration: underline;"><strong>COLLECTION AND USE OF PERSONAL DATA</strong></span></p>
        <p style="text-align: justify;"><strong>CONTACT FORM</strong><br><br>By means of the online contact form on the Website you can contact Color Cntrl by sending an e-mail (hereinafter the "Email"). By sending the Email you agree to the Privacy and Cookie Policy. By agreeing to this Privacy and Cookie Policy, you consent to the processing of your personal data. At least the following personal data must be provided when sending the Email:</p>
        <ul style="text-align: justify;">
        <li>Name</li>
        <li>Email address</li>
        </ul>
        <p style="text-align: justify;">You are obligated to ensure that the details provided to Color Cntrl are correct.</p>
        <p style="text-align: justify;">Color Cntrl only processes and uses data that is directly and/or evidently provided to her. As far as the data you provide qualifies as personal data within the meaning of the Personal Data Protection Act (Wet bescherming persoonsgegevens), Color Cntrl will only use and process that data in accordance with said Act.</p>
        <p style="text-align: justify;">Color Cntrl processes personal data you provide to Color Cntrl for general business purposes, such as:</p>
        <ul>
        <li style="text-align: justify;">to come in contact with you after you have sent an Email;</li>
        <li style="text-align: justify;">to keep you informed of news and/or offerings regarding Color Cntrl and its products;</li>
        <li style="text-align: justify;">to deal with questions and/or complaints.</li>
        </ul>
        <p style="text-align: justify;">In case Color Cntrl wants to use the data provided by you for purposes that are not (yet) provided in this Privacy and Cookie Policy, you will be notified in advance. You can withhold your consent to such processing.</p>
        <p style="text-align: justify;"><br><strong>OTHER USES<br></strong><br>In addition to the above, the personal data you provide may be used for the following purposes:</p>
        <ol>
        <li style="text-align: justify;">to execute agreements between you and Color Cntrl;</li>
        <li style="text-align: justify;">to make the services of Color Cntrl (technically) possible;</li>
        <li style="text-align: justify;">to further develop and improve the Website and services of Color Cntrl;</li>
        <li style="text-align: justify;">for the security of the Website and for preventing fraud and abuse.</li>
        </ol>
        <p style="text-align: justify;"><strong>DISCLOSURE OF PERSONAL DATA TO THIRD PARTIES</strong></p>
        <p style="text-align: justify;">Color Cntrl does not disclose the personal data you provided to third parties, unless:</p>
        <ul>
        <li style="text-align: justify;">you have directly and personally granted your consent in this respect;</li>
        <li style="text-align: justify;">it is necessary to pass on such data in the framework of the contact between you and Color Cntrl;</li>
        <li style="text-align: justify;">Color Cntrl is required to comply with a valid legal request, including a writ of summons issued by or against it, complying with court orders or initiating legal proceedings.</li>
        </ul>
        <p style="text-align: justify;">For more information about the use made by third parties of the data provided by you to Color Cntrl, Cntrl Color refers to the relevant third parties.</p>
        <p style="text-align: justify;"><strong>RETENTION OF DATA</strong><br><br>Color Cntrl will keep your data no longer than strictly necessary on the basis of the objectives described above, after which they are made anonymous. Color Cntrl can store anonymous data for statistical and research purposes. Color Cntrl has introduced the necessary security measures to protect the loss, misuse or prevent the modification of any information provided by you.<br><br>Your (temporary) IP address – and, if possible, the website of origin – will be recognized automatically with every visit to the Website. Color Cntrl will not process and use this information as individual (personal) data, but only to analyze the navigation and visited pages in order to improve the awareness, functionality and content of the Website.</p>
        <p style="text-align: justify;"><br><strong>SECURITY</strong></p>
        <p style="text-align: justify;">Color Cntrl maintains adequate technical and organisational safeguards to protect your personal data against theft or any form of unlawful processing whatsoever. Having regard for the state of the art and the implementation costs, these safeguards guarantee an adequate security level in view of the specific risks involved with the processing and the nature of the data protected. These safeguards are also intended to prevent unnecessary collection and further processing of personal data.</p>
        <p style="text-align: justify;"><strong>USE OF COOKIES</strong></p>
        <p style="text-align: justify;">In order to optimise the services of Color Cntrl, a limited number of so-called cookies are stored on your computer. These cookies are a.o. used to store user-interaction on the website.</p>
        <p>Color Contrl uses Google Analytics. Please visit <a href="http://www.google.com/intl/nl/analytics/privacyoverview.html">this link</a> to learn more about Google Analytics and your privacy.</p>
        <p style="text-align: justify;">Color Cntrl asks your permission to place cookies, which you may refuse. Storing cookies can also be regulated in your browser settings. Most browsers can be set up to refuse cookies or to inform you of cookies being stored. Color Cntrl refers to the developer of your browser for instructions to change your browser settings.<br><br></p>
        <p style="text-align: justify;"><strong>INSPECTING AND IMPROVING YOUR DATA</strong></p>
        <p style="text-align: justify;">If you wish to comment on the Privacy and Cookie Policy or in case you think Color Cntrl does not act in accordance with this Privacy and Cookie Policy, you can contact Color Cntrl by sending an Email using the contact section on the Website.</p>
        <p style="text-align: justify;">Upon request Color Cntrl allows visitors access to all their personal data processed by Color Cntrl. Visitors may also amend any incorrect data. If you wish to do so, please contact Color Cntrl by sending an Email using the contact section on the Website. The contact form on the Website can also be used for any other questions.<br><br></p>
        <p style="text-align: justify;"><strong>RIGHT TO OBJECT</strong></p>
        <p style="text-align: justify;">You can object, free of charge, against the use of your personal data for purposes other than those necessary for the performance of a contract or for compliance with a legal obligation. For example, you can oppose against the use of your data for direct marketing purposes. You can object by sending an Email using the contact section on the Website.<br><br></p>
        <p style="text-align: justify;"><strong>PRIVACY OF THIRD PARTIES</strong></p>
        <p style="text-align: justify;">This Privacy and Cookie Policy does not apply to third party websites which are linked to the Website through weblinks. Color Cntrl accepts no responsibility or liability with regard to the way in which these third parties handle personal data and cookies. Color Cntrl recommends to always read the privacy and cookie policies on these third party websites.<br><br></p>
        <p style="text-align: justify;"><strong>UPDATES</strong></p>
        <p style="text-align: justify;">Color Cntrl may update this privacy policy from time to time. You will be alerted to any substantial change in the processing method of your personal data through a prominent notice on the Website. The most current version of the Privacy and Cookie Policy is always available on the Website. Color Cntrl therefore recommends to regularly read the Privacy and Cookie Policy, and at least before you provide personal information to Color Cntrl.</p>
        <p style="text-align: justify;"><br>This privacy policy was last updated on March 30th 2015</p>
				
        </div>
        
      </div>
    </div>
  </div>
</div>