<div class="nav-container">
  <div>
    
    <div class="bar bar--sm visible-xs">
      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-sm-2">
            <a href="{{ '' | prepend:site.baseurl }}">
              <img class="logo logo-dark" alt="logo" src="{{ 'assets/img/color-ctrl-logo.png' | prepend:site.baseurl }}">
              <img class="logo logo-light" alt="logo" src="{{ 'assets/img/color-ctrl-logo.png' | prepend:site.baseurl }}">
            </a>
          </div>
          <div class="col-xs-9 col-sm-10 text-right">
            <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs hidden-sm">
              <i class="icon icon--sm stack-interface stack-menu"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <nav id="menu1" class="bar bar-1 hidden-xs">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-2 hidden-xs">
            <div class="bar__module">
              <a href="{{ '' | prepend:site.baseurl }}" class="main-logo">
                <img class="logo logo-dark" alt="logo" src="{{ 'assets/img/color-ctrl-logo.png' | prepend:site.baseurl }}">
                <img class="logo logo-light" alt="logo" src="{{ 'assets/img/color-ctrl-logo.png' | prepend:site.baseurl }}">
              </a>
            </div>
          </div>
          <div class="col-md-9 col-sm-10 text-right text-left-xs text-left-sm">
            <div class="bar__module">
              <ul class="menu-horizontal text-left">
                
                <li>
                  <a href="{{ '' | prepend:site.baseurl }}">Home</a>
                </li>

                <li class="dropdown">
                  <span class="dropdown__trigger">Technology</span>
                  <div class="dropdown__container">
                    <div class="container">
                      <div class="row">
                        <div class="dropdown__content col-md-2">
                          <ul class="menu-vertical">
                            <li><a href="{{ 'technology/' | prepend:site.baseurl }}">General</a></li>
                            <li><a href="{{ 'technology/reflective/' | prepend:site.baseurl }}">Reflective</a></li>
                            <li><a href="{{ 'technology/transparent/' | prepend:site.baseurl }}">Transparent</a></li>
                            <li><a href="{{ 'technology/benefits/' | prepend:site.baseurl }}">Benefits</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="dropdown">
                  <span class="dropdown__trigger">Applications Lookbook</span>
                  <div class="dropdown__container">
                    <div class="container">
                      <div class="row">
                        <div class="dropdown__content col-md-2">
                          <ul class="menu-vertical">
                            <li><a href="{{ 'applications-lookbook/display/' | prepend:site.baseurl }}">Display</a></li>
                            <li><a href="{{ 'applications-lookbook/smart-glass/' | prepend:site.baseurl }}">Smart Glass</a></li>
                            <li><a href="{{ 'applications-lookbook/wearables/' | prepend:site.baseurl }}">Wearables</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="dropdown">
                  <span class="dropdown__trigger">About</span>
                  <div class="dropdown__container">
                    <div class="container">
                      <div class="row">
                        <div class="dropdown__content col-md-2">
                          <ul class="menu-vertical">
                            <li><a href="{{ 'about/us/' | prepend:site.baseurl }}">About us</a></li>
                            <li><a href="{{ 'about/who-we-are/' | prepend:site.baseurl }}">Who we are</a></li>
                            <li><a href="{{ 'about/what-we-do/' | prepend:site.baseurl }}">What we do</a></li>
                            <li><a href="{{ 'about/values/' | prepend:site.baseurl }}">Values</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>

                <li class="dropdown">
                  <span class="dropdown__trigger">News&Events</span>
                  <div class="dropdown__container">
                    <div class="container">
                      <div class="row">
                        <div class="dropdown__content col-md-2">
                          <ul class="menu-vertical">
                            <li><a href="{{ 'news/events/' | prepend:site.baseurl }}">Events</a></li>
                            <li><a href="{{ 'news/media/' | prepend:site.baseurl }}">Media</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                    
              </ul>
            </div>

            <!--<div class="bar__module">
              <a class="btn btn--sm type--uppercase" href="mailto: {{ site.email }}">
                <span class="btn__text">contact us</span>
              </a>
            </div>-->
          </div>
        </div>
      </div>
    </nav>

  </div>
</div>