<!--<script src="{{ 'assets/js/jquery-3.1.1.min.js' | prepend:site.baseurl }}"></script>
<script src="{{ 'assets/js/jquery.steps.min.js' | prepend:site.baseurl }}"></script>
<script src="{{ 'assets/js/parallax.js' | prepend:site.baseurl }}"></script>
<script src="{{ 'assets/js/countdown.min.js' | prepend:site.baseurl }}"></script>
<script src="{{ 'assets/js/smooth-scroll.min.js' | prepend:site.baseurl }}"></script>
<script src="{{ 'assets/js/lightbox.min.js' | prepend:site.baseurl }}"></script>
<script src="{{ 'assets/js/isotope.min.js' | prepend:site.baseurl }}"></script>
<script src="{{ 'assets/js/spectragram.min.js' | prepend:site.baseurl }}"></script>
<script src="{{ 'assets/js/spectragram.min.js' | prepend:site.baseurl }}"></script>
<script src="{{ 'assets/js/twitterfetcher.min.js' | prepend:site.baseurl }}"></script>
<script src="{{ 'assets/js/ytplayer.min.js' | prepend:site.baseurl }}"></script>
<script src="{{ 'assets/js/datepicker.js' | prepend:site.baseurl }}"></script>
<script src="{{ 'assets/js/granim.min.js' | prepend:site.baseurl }}"></script>
<script src="{{ 'assets/js/flickity.min.js' | prepend:site.baseurl }}"></script>
<script src="{{ 'assets/js/scripts.js' | prepend:site.baseurl }}"></script>-->

<script src="{{ 'assets/js/scripts.min.js' | prepend:site.baseurl }}"></script>